        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<div class="container">
    <div class="row">
        {{#if user}}
        {{#if user.id_client}}

      
        {{#if plan}}


            <div class="col-lg-12">
                    <input id="lapso" class="hidden" value="{{plan.repeat_unit}}" />
        <input id="amount" type="text" class="hidden" value="{{plan.amount}}" />
        <input type="text" class="hidden" value="{{plan.currency}}" id="currency" />
        <input type="text" id="cada" class="hidden" value="{{plan.repeat_every}}">

        <div class="jumbotron">

            <h2 class="">{{plan.name}}</h2>
            <p class="lead">
                Costo - {{ plan.amount}}
            </p>
            <p>
                Esta suscripción tienen un lapso de {{plan.repeat_every}} <label id="lp" for=""></label>
            </p>
            <p>
                Su costo de inversión es de <label id="lcost" for=""> </label> para el final de su suscripción
            </p>


            <p class="hidden">
                {{plan.id}}

                {{plan.amount}}

                {{timeago plan.creation_date}}

                {{plan.repeat_every}}

                {{plan.repeat_unit}}

                {{plan.retry_times}}


                {{plan.status_after_retry}}

                {{plan.currency}}</p>
            <small class="pull-right">Vigente desde {{timeago plan.creation_date}}</small>
            <br>
            <hr class="my-4">
            <a class="btn btn-default btn-lg pull-right" id="sus" data-toggle="modal" data-target="#myModal"
                role="button">Subscribe</a>


            <br>
        </div>

        <script>
            function config() {
                var lapso = document.getElementById('lapso');
                var lp = document.getElementById('lp');
                var currency = document.getElementById('currency');
                let amount = document.getElementById('amount');
                //var cost = pasreInt(amount.value) * parseInt(lapso.value);
                var cada = document.getElementById('cada');
                amount = parseFloat(amount.value).toFixed(2);
                let lapsodecimal = parseFloat(cada.value).toFixed(2);


                var lcost = document.getElementById('lcost');
                var rcost = lapsodecimal * amount;

                switch (lapso.value) {
                    case 'week':
                        lp.innerHTML = "semanas";
                        break;
                    case 'mounth':
                        lp.innerHTML = "meses";
                        break;
                    case 'anual':
                        lp.innerHTML = "años";
                        break;
                }
                var ccost = "$ " + rcost + " " + currency.value
                lcost.innerHTML = ccost;
            }
            config();


        </script>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Subscripción <label for="">{{plan.name}}</label></h4>
                    </div>
                    <div class="modal-body">

                    
                        <small>Selecciona una tarjeta</small>


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tarjeta </th>
                                <th>Banco</th>
                                <th>Confirmar ccv</th>

                            </tr>
                        </thead>
                        <tbody id="cardsT">

                        </tbody>
                    </table>

                        <script>
                            function getcl() {
                            $.ajax({
                                type: 'get',
                                url: '/cards-list/{{user.id_client}}',
                                dataType: 'json',
                                success: (data) => {



                                    if (data.lenght == 0) {

                                        const row1 = '<tr>  <td><a >No hay datos aún</a></td><td></td> <td></td></tr>';
                                        $('#cardsT').append(row1);
                                    } else {
                                        data.forEach((item) => {
                                            const row = `<tr>
                                                        <td>${ item.card_number}</td>
                                                        <td>${ item.bank_name}</td>
                                                        <td>${ item.type}</td>
                                                        
                                                        <td>
                                                        

                                                                    <form action="/create-subscribtion" id="payment-form" enctype="multipart/form-data"
                                                                        method="POST">
                                                                        
                                                                
                                                                                    <input type="text" class="" name="id_client" value="{{user.id_client}}">
                                                                        <input type="text" class="" name="id_card" value="${ item.id}" />

                                                                        <input type="text" class="" name="id_user" value="{{user.id}}" />

                                                                        <input type="text" class="" name="id_plan" value="{{plan.id}}" />
                                                                        <input type="submit" class="btn btn-default" name="" value="Usar Tarjeta" />
                                                                    </form>
                                                            </td>
                                                    </tr>`;
                                            $('#cardsT').append(row);
                                        });
                                    }
                                }
                            });
                        }getcl();
                        </script>
                    </div>

                </div>
            </div>
            </div>

            {{else}}
            <div class="col-lg-12 ">
                <div class="card text-center">
                    <div class="card-body">
                        <p>Parace que ha habido un error, por favor reportelo a <a href="">support@trustfund.com.mx</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {{/if}}

        {{else}}
        <h3> usted no podra suscribirse si no es cliente</h3>
        <h4> <a href="/userconfig"> Activar mi cuenta</a> </h4>

        {{/if}}



        {{else}}

        <h3>Usted no debería estar aquí</h3>
        {{/if}}
    </div>
</div>