<div class="container">
    <div class="row my-element animated fadeIn delay-1s">
        <div class="container">
            <div class="col-lg-1 "></div>
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                {{#each news}}

                <div class="card p3" style="border:1px solid gray">
                    <div class="card-body" align="center">
                        <p>
                            <h3>{{title}}</h3>
                        </p>
                        <p></p>
                        <p><img src="{{imgh}}" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" width="80%" alt=""></p>

                    </div>
                </div>

                {{title}}</p>

                <p>{{text1}}</p>
                <p align="center"><img src="{{img1}}" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" width="260" alt=""></p>
                <p>{{text2}}</p>
                <p align="center"><img src="{{img2}}" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" width="260" alt=""></p>
                <p>{{text3}}</p>
                <p align="center"><img src="{{img3}}" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" width="260" alt=""></p>

                {{/each}}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>