{{#if resp}}



    {{resp.id}}
    {{resp.id_unit}}
    {{resp.amount}}


   <div class="row my-element">
        <div class="col-lg-12 text-center">

<h1>Tryme</h1>

            <div id="cardBuy">
                    <img src="" id="imgunit" alt="">
            </div>

    </div>

   </div>
    <script>
        $(document).ready(function(){
           
            var idunit = {{{ resp.id_unit}}};
                
                            $.ajax({
                                url: `https://trustfundapp.herokuapp.com/tc-info/{{{resp.id_unit}}}`, 
                                type: 'GET',
                            success: function(result){
                            alert(result);
                            console.log(result)
                            },
                            fail: function(err){
                                alert('fuck');
                                console.log(err)
                            }
                });
            });

           
    </script>
{{else}}


{{/if}}


<script>

/*
$(document).ready(function(){
   $(document).bind("contextmenu",function(e){
      return false;
   });
});
*/

</script>